body { 
    background-color: antiquewhite;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    overflow: hidden;
    float: right;
  }
li {
    display: inline;
}
.active { 
    background-color: rgb(66, 100, 66);
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  img {
    width: fit-content;
    height: fit-content;
    min-height: auto;
    min-width: auto;
    display: block;
  }
div p {

width: auto;
height: auto;
left: 27px;
top: 789px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;

}
